<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<!-- 设置扫描路径的包（不包括controller） -->
	<context:component-scan base-package="com.cgxt">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 配置jdbc文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"
		file-encoding="utf-8" ignore-unresolvable="true" />
		
	<!-- 配置基本的sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.cgxt.bean</value>
			</list>
		</property>
		<!-- 配置数据库配置文件相关 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<!-- 用来控制是否应该向JDBC元数据来确定某些设置默认值，在数据库某些服务不可用的设置为 *不* -->
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
			</props>
		</property>
	</bean>

	<!-- 开始设置数据源dataSource destroy-method="close":当数据库连接不使用的时候,就把该连接重新放到数据池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" p:driverClass="${jdbc.driverClassName}"
		p:jdbcUrl="${jdbc.url}" p:user="${jdbc.username}" p:password="${jdbc.password}"
		p:testConnectionOnCheckin="${jdbc.c3p0.testConnectionOnCheckin}"
		p:testConnectionOnCheckout="${jdbc.c3p0.testConnectionOnCheckout}"
		p:idleConnectionTestPeriod="${jdbc.c3p0.idleConnectionTestPeriod}"
		p:initialPoolSize="${jdbc.c3p0.initialPoolSize}" p:minPoolSize="${jdbc.c3p0.minPoolSize}"
		p:maxPoolSize="${jdbc.c3p0.maxPoolSize}" p:maxIdleTime="${jdbc.c3p0.maxIdleTime}" />
	<!-- 配置hibernate事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 事务的异常类封装 -->
	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
	
	<!-- 新增了一个jdbc数据源模板的注入 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource"/>
	
	<!-- 面向切面 -->
	<aop:config proxy-target-class="true">
	   <aop:pointcut expression="execution(* com.cgxt.service..*(..))" id="serviceMethod"/>
	   <!-- 使用事务增强 -->
	   <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod"/>
	</aop:config>
	
	<!-- 配置事务增强属性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	  <tx:attributes>  
          <tx:method name="save*" propagation="REQUIRED"/>  
          <tx:method name="add*" propagation="REQUIRED"/>  
          <tx:method name="create*" propagation="REQUIRED"/>  
          <tx:method name="insert*" propagation="REQUIRED"/>  
          <tx:method name="update*" propagation="REQUIRED"/>  
          <tx:method name="merge*" propagation="REQUIRED"/>  
          <tx:method name="del*" propagation="REQUIRED"/>  
          <tx:method name="remove*" propagation="REQUIRED"/>  
          <tx:method name="put*" propagation="REQUIRED"/>  
          <tx:method name="use*" propagation="REQUIRED"/>  
          <!--hibernate4必须配置为开启事务 否则 getCurrentSession()获取不到 -->  
          <tx:method name="get*" propagation="REQUIRED" read-only="true"/>  
          <tx:method name="count*" propagation="REQUIRED" read-only="true"/>  
          <tx:method name="find*" propagation="REQUIRED" read-only="true"/>  
          <tx:method name="list*" propagation="REQUIRED" read-only="true"/>  
          <tx:method name="*" propagation="REQUIRED" read-only="true"/>  
         </tx:attributes>
	</tx:advice>
</beans>		